.maindiv {
  height: 500px;
  width: 500px;
  background-color: aqua;
  padding: 2px;
  margin: 10px;
  box-shadow: 5px 10px;
}

.parentdiv {
  display: flex;
  justify-content: center;
}

.image {
  height: 250px;
  width: 100%;
}
